<a href="https://colab.research.google.com/github/Ds2023/Databases-Content/blob/main/Relationships.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Degree in Relationships**

- The "degree" of a relationship refers to the number of entities involved in the relationship.
- It indicates how many entity types are associated with one another within a relationship.Here are the main types of degrees in relationships:

**Unary Relationship (Degree 1):**

- A relationship between instances of a single entity type.

- **Example:** An employee manages another employee within the same organization. Here, the entity Employee is related to itself in a hierarchical structure.

In [ ]:
CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(100),
    ManagerID INT,
    FOREIGN KEY (ManagerID) REFERENCES Employee(EmployeeID)
);

**Binary Relationship (Degree 2):**

- A relationship between instances of two different entity types.
- **Example:** A customer places an order. Here, the relationship is between the Customer entity and the Order entity.

In [ ]:
CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Order (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID)
);

**Ternary Relationship (Degree 3):**

- A relationship that involves three different entity types.
- **Example:** A supplier supplies a product to a project. Here, the relationship involves Supplier, Product, and Project entities.

In [ ]:
CREATE TABLE Supplier (
    SupplierID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Product (
    ProductID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Project (
    ProjectID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Supply (
    SupplierID INT,
    ProductID INT,
    ProjectID INT,
    Quantity INT,
    PRIMARY KEY (SupplierID, ProductID, ProjectID),
    FOREIGN KEY (SupplierID) REFERENCES Supplier(SupplierID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID),
    FOREIGN KEY (ProjectID) REFERENCES Project(ProjectID)
);

**N-ary Relationship (Degree N):**

- A relationship that involves N different entity types, where N is greater than 3.
- **Example:** Consider a scenario in which multiple entities such as Doctor, Patient, Medication, and Pharmacy are involved in a single relationship to manage medication dispensation. Here, the degree of the relationship is 4.

In [ ]:
CREATE TABLE Supplier (
    SupplierID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Product (
    ProductID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Project (
    ProjectID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Supply (
    SupplierID INT,
    ProductID INT,
    ProjectID INT,
    Quantity INT,
    PRIMARY KEY (SupplierID, ProductID, ProjectID),
    FOREIGN KEY (SupplierID) REFERENCES Supplier(SupplierID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID),
    FOREIGN KEY (ProjectID) REFERENCES Project(ProjectID)
);